.chatPage {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatContainer {
    background-color: white;
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures footer is at the bottom */
}

.header {
    background-color: rgb(0, 0, 0);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header>h2 {
    font-size: 3vmax;
    color: white;
    margin: 2.5vmax;
}

.header img {
    margin: 2.5vmax;
    transition: all 0.3s;
    cursor: pointer;
}

.header>img:hover {
    transform: scale(1.2);
}

.chatBox {
    height: 80%;
    box-sizing: border-box;
}

.inputBox {
    height: 8%;
    box-sizing: border-box;
    display: flex;
    border: 2px black solid;
}

#chatInput {
    width: 80%;
    border: none;
    padding: 2vmax;
    box-sizing: border-box;
    background-color: white;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vmax;
    border-top: 0.2vmax solid rgba(0, 0, 0, 0.562);
}

.sendBtn {
    background-color: rgb(5, 242, 108);
    color: rgb(0, 0, 0);
    border: 1px solid orange;
    height: 65px;
    width: 30%;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 20px;
}

.sendBtn>img {
    width: 2.6vmax;
    filter: brightness(100) invert();
    transition: all 0.3s;
}

.sendBtn:hover img {
    transform: translateX(10px);
}

.headname {
    font-size: 15px;
    color: white;
    margin: 2.5vmax;
}

.footer {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(216, 225, 232);
    text-align: center;
    padding: 15px;
    /* border: 2px solid blue; */
    width: 100%; /* Adjusted to fit the container width */
}

/* Responsive adjustments */
@media (max-width: 500px) {
    .chatContainer {
        height: 100vh;
        width: 100vw;
        flex-direction: column; /* Stack elements vertically */
    }

    .footer {
        font-size: 10px;
        position: static; /* Adjusted for better positioning in the flow */
        width: 100%; /* Ensure it spans the width of its container */
        margin-top: 10px; /* A little space above the footer */
    }

    .inputBox {
        font-size: 60px; /* This seems too large, adjusting for demonstration */
        height: auto; /* Adjusted for better fit */
        font-size: 14px; /* More appropriate size */
    }

    .sendBtn {
        height: 45px; /* Adjusted for smaller screens */
    }

    #chatInput, .chatBox, .headname {
        /* Adjust properties as needed for smaller screens */
        font-size: 14px; /* Adjust font size for readability */
    }
}
